{% load render_bundle from webpack_loader %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Emily Jewell</title>
    </head>
    <body>
        <div id="background">
            <img src="{% static 'images/EmilyJewellHeadshot.jpg' %}"
                 align="center"
                 width="1000"
                 style="position: absolute; z-index: -1; left: 50%; margin-left: -500px;"/>
        </div>
        <div id="app"></div>
        {% render_bundle 'app' %}
    </body>
</html>